<script>
let count = 0
function handleAdd(){
	count += 1
		}
	function handleDelete(){
		count -= 1
	}
</script>

<p>counting</p>
<button on:click={handleDelete}>-</button>
<input type="text" value={count}>
<button on:click={handleAdd}>+</button>
<style>
	input {
		color: red;
		width: 50px
	}
</style>
